@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {}

body {
  background: linear-gradient(176deg, #121212 50%, rgba(32, 39, 55, 1) 100%);
  min-height: 100vh;
  background-attachment: fixed;
  @include scrollbar;
}